/* Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* Colors */

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
  --color-primary: #4db5ff;
  --color-white: #fff;
  --color-bg: #1f1f38;
  --gardient-color: linear-gradient(to right, #5001fb, #8e0af3);
}

/* FONT STYLE */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --nomral-font-size: 0.938rem;
}

/* Media Screen Min-Width : 768px */
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --nomral-font-size: 1rem;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,
::before,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--nomral-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CUSTOM CSS CLASSES */

/* LAYOUT */
.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.image_style {
  width: 100px;
  border-radius: 50%;
}
/* Navbar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  /* background-color: black; */
}
#github {
  margin: auto;
  display: block;
}
#github p img {
  margin: auto;
}
.calendar {
  text-align: center;
}
.tech {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }

  .work_img {
    width: 125%;
  }
  .footer {
    width: 125%;
  }
  #github {
    width: 125%;
  }
  .about_container {
    width: 120%;
  }
}

.nav_items {
  margin-bottom: var(--mb-4);
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav_logo {
  color: var(--second-color);
}

.nav_toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* ACTIVE MENU */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home_data {
  align-self: center;
}

.home_title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home_title-color {
  color: var(--first-color);
}

.home_social {
  display: flex;
  flex-direction: column;
}

.home_social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home_social-icon:hover {
  color: var(--first-color);
}

.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
}

.home_img svg {
  width: 100%;
}

/* BUTTONS */
.button {
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background: var(--gardient-color);
}
.button1 {
  display: inline-block;
  color: black;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background: var(--gardient-color);
  border: none;
  margin-left: 2%;
}
.button1 > a {
  color: #fff;
}
.button2 {
  display: inline-block;
  color: black;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background: var(--gardient-color);
  border: none;
  width: 50%;
}
.button2 > a {
  color: #fff;
}
.button2:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
.button1:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/* ABOUT SECTION */

.about_container {
  row-gap: 2rem;
  text-align: center;
}

.about_subtitle {
  margin-bottom: var(--mb-2);
}

.about_img {
  justify-content: center;
}

.about_img svg {
  width: 300px;
  border-radius: 0.5rem;
}
.about__me {
  width: 100%;

  aspect-ratio: 1/1;
  border-radius: 2rem;
  /* background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  ); */
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(0deg);
}
/* .about__me-image:hover {
  transform: rotate(0deg);
} */

/*                        ========================SKILLS */

.skills__container {
  row-gap: 2rem;
  padding-left: 28%;
  width: 130%;
}

.skills__subtitle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.skills__name {
  display: inline-block;
  width: 10%;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background-color: var(--white-color);
  border-radius: 0.25rem;
}
.skills__name:hover {
  /* background-color: var(--first-color); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--white-color);
}
.skills__img img {
  border-radius: 0.5rem;
}
.about__buttons {
  margin-top: 20px;
}
.btn {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 10px;
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  background-clip: padding-box;
  color: rgb(250, 241, 241);
  transition: background 0.5s ease;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
.btn:hover {
  /* background-color: rgb(47, 191, 239); */
  background: rgb(30, 121, 182);
  background-clip: padding-box;
  color: rgb(249, 243, 243);
}

/* WORK */

.work {
  text-align: center;
}

.work_container {
  row-gap: 2rem;
}

.work_img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.work_img img {
  transition: 1s;
  cursor: pointer;
}

.work_img img:hover {
  transform: scale(1.1);
}
.tech_stack {
  display: flex;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 10px;
  gap: 4px;
}
.tech_stack > img {
  width: 40px;
  border-radius: 7px;
}
.desc_div {
  text-align: left;
  padding: 0px 15px;
}
/* .btn{
  width:max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border:1px solid var(--color-primary);
  

  transition: transparent;
}
.btn:hover{
  background: var(--color-white);
  color:var(--color-bg);
  border-color: transparent;

}
.btn-primary{
  background: var(--color-primary);
  color: var(--color-bg);
} */
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
/* Contact */

.control_input {
  width: 100%;
  font-size: var(--nomral-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.control_button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--nomral-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* Footer */
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer_title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer_socials {
  margin-bottom: var(--mb-4);
}

.footer_icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav_items {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav_list {
    display: flex;
    padding-top: 0;
  }

  .nav_toggle {
    display: none;
  }

  .nav_link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }

  .home_data {
    align-self: flex-end;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home_social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home_img {
    width: 460px;
    bottom: 15%;
  }

  .home_img svg {
    width: 100%;
  }

  .about_container,
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .about_img svg {
    width: 450px;
  }

  .work_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact_form {
    width: 400px;
  }
  .contact_container {
    display: flex;
    justify-items: center;
  }
  .contact__info {
    margin-right: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .bd_grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img {
    right: 10%;
  }
}
